<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./template.xhtml">

            <ui:define name="top">
                top
            </ui:define>

            <ui:define name="left">
                left
            </ui:define>

            <ui:define name="content">
                 <h2> Pagina de confirmación  </h2>
        
        <h:panelGrid columns="2" columnClasses=".alinder-bold, normal">
            <h:outputText value="Saludo: "/>
            <h:outputText value="#{usuarioBean.saludo}"/>
            
            <h:outputText value="Nombre: "/>
            <h:outputText value="#{usuarioBean.nombre}"/>
            
            <h:outputText value="Apellidos: "/>
            <h:outputText value="#{usuarioBean.apellidos}"/>
            
            <h:outputText value="Edad: "/>
            <h:outputText value="#{usuarioBean.edad}"/>
            
            <h:outputText value="Dirección email: "/>
            <h:outputText value="#{usuarioBean.email}"/>
            
            
        </h:panelGrid>
                 <h2>abc</h2>
                 
                 
                 <form action="form.xhtml">
                     <input type="submit" value="Enviar" />
                 </form>
            </ui:define>

            <ui:define name="bottom">
                bottom
            </ui:define>

        </ui:composition>
        
        
    </body>
</html>
