<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:of="http://omnifaces.org/functions">

    <body>

        <ui:composition template="./template.xhtml">

            <ui:define name="top">
                top
            </ui:define>

            <ui:define name="left">
                <a href="login.jsp">Administrator login</a>
           <!--<o:resourceInclude path="WEB-INF/jspf/loginform.jspf" /> -->
            <form action="j_security_check" method="POST">
            <table border="0" cellspacion="0" cellpadding="0">
                <thead>
                    <tr>
                        <td>Nombre usuario:</td>
                        <td>
                            <input type="text" name="j_username"></input>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Password</td>
                        <td>
                            <input type="password" name="j_password"></input>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Login"></input>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            
        </form>
            </ui:define>

            <ui:define name="content">
                  <h:form>
                <h:panelGrid columns="3" columnClasses="alinder,alinizq,alinizq">
                    
                    <h:outputLabel value="Saludo: " for="saludo"/>
                    <h:selectOneMenu id="saludo" label="Saludo" value="#{usuarioBean.saludo}">
                        <f:selectItem itemLabel="" itemValue=""/>
                        <f:selectItem itemLabel="Sr." itemValue="Sr."/>
                        <f:selectItem itemLabel="Srs." itemValue="Srs."/>
                        <f:selectItem itemLabel="Srta." itemValue="Srta."/>
                        <f:selectItem itemLabel="Sra." itemValue="Sra."/>
                        <f:selectItem itemLabel="Dr." itemValue="Dr."/>   
                    </h:selectOneMenu>
                    <h:message for="saludo"/>
                                        
                    <h:outputLabel value="Nombre: " for="nombre"/>
                    <h:inputText id="nombre" label="Nombre" required="true" value="#{usuarioBean.nombre}"/>
                    <h:message for="nombre"/>
                    
                    <h:outputLabel value="Apellidos: " for="apellidos"/>
                    <h:inputText id="apellidos" label="Apellidos" required="true" value="#{usuarioBean.apellidos}"/>
                    <h:message for="apellidos"/>
                    
                    <h:outputLabel for="edad" value="Edad: "/>
                    <h:inputText id="edad" label="Edad: " required="true" size="2" value="#{usuarioBean.edad}"/>
                    <h:message for="edad"/>
                     
                    <h:outputLabel for="email" value="Direccion Email: "/>
                    <h:inputText id="email" label="Direccion Email" required="true" value="#{usuarioBean.email}">
                      <!--  <f:validator validatorId="emailValidador"/> -->
                    </h:inputText>
                    <h:message for="email"/>                
                    
                    <h:panelGroup/>
                    <h:commandButton id="register" value="Registrar" action="confirmacion"/>
                                 
                  
                </h:panelGrid>
            </h:form>
            </ui:define>

            <ui:define name="bottom">
                bottom
            </ui:define>

        </ui:composition>

    </body>
</html>
